@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
  font-family: "Poppins", sans-serif;
}

#home {
  height: 300px;
  background-color: #0f3057; /* For browsers that do not support gradients */
  background-image: linear-gradient(to right, #0f3057, #008891);
}

#logo {
  width: 100%;
  text-align: center;
  position: relative;
  top: 2.5em;
  color: #ffffff;
}

#praktikum {
  display: flex;
  flex-wrap: wrap;
  padding: 5px auto;
  box-sizing: border-box;
  margin: 30px auto;
  justify-content: space-around;
  text-align: center;
}

.title {
  margin: 20px auto;
  text-align: center;
}
